.Bagaj {
  width: 100%;
  height: 300px;
  margin: auto;
  background-color: beige;
  text-align: center; /* goloh */
  overflow: scroll; /*bagtahgui bol scrolloor deesh doosh bolgono */
}
@media (min-width: 800px) and (min-heigth: 400px) {
  .Bagaj {
    width: 700px;
    height: 500px;
  }
}
