.Bagajbaterei {
  width: 80%;
  height: 20%;
  margin: auto;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  position: relative;
}

.BagajGaz {
  top: 45%;
  left: 10%;
  transform: rotate(-170deg);
}

.BagajGar {
  width: 90%;
  height: 7%;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
}

.BagajTsahilgaan {
  width: 80%;
  height: 8%;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 14px;
}

.Dagaldah {
  width: 91%;
  height: 4.5%;
  background: linear-gradient(#f4d004, #d6bb22);
  margin: 2% auto;
  border-radius: 20px;
}

.Material {
  width: 80%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 2% auto;
}

.HoolHuns {
  width: 80%;
  height: 10%;
  margin: auto;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 0 0 20px 20px;
}
